input[type='text'],
.txtarea {
  margin-bottom: 10px;
}
button {
  margin-top: 20px;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.api-error {
  text-align: center;
  font-weight: bolder;
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
